.gsForm { position: relative; padding: 10px; }
.gsForm:after { visibility: hidden; display: block; font-size: 0;  content: " "; clear: both; height: 0; }
.gsForm * { font-family: inherit }
.gsForm .gsText {padding: 10px 20px;}
.gsForm i.required { background-image: url("required.png"); display: inline-block; width: 20px; height: 20px; background-size: cover; }
.gsForm .gsform-field-container { padding: 10px 56px 10px 20px; position: relative; }
.gsForm .gsform-container-with-label {}
.gsForm .gsform-submit { background-color: #888; color: #FFF; border-width: 2px; border-style: solid; border-color: #999 #999 #777 #999; border-radius: 5px; margin-right: 20px; float: right; margin-top: 10px; cursor: pointer; display: inline-block; line-height: 40px; font-size: 14px; text-align: center; box-shadow: 1px 1px 1px #DDD; padding: 0px 20px; text-transform: uppercase; font-weight: bold; text-shadow: 0px 0px 2px #333; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.gsForm .gsform-submit:disabled { color: #BBB; border-color: #CCC #CCC #AAA #CCC; background-color: #DDD; cursor: default; text-shadow: 0px 0px 0px; }
.gsForm .gsform-submit:disabled:hover { color: #BBB; text-shadow: 0px 0px 0px; }
.gsForm .gsform-submit:hover { color: #333; text-shadow: 0px 0px 2px #FFF; }
.gsForm .loading-submit {float:right; display: none; background-image: url(loading-submit.gif); background-repeat: no-repeat; background-position: center center; }
.gsForm .recaptcha .captcha-error { color: #790102; display: none; padding-top: 6px; font-size: 12px; }
.gsForm .gsform-container-with-label label { display: block; line-height: 24px; padding-left: 4px; font-size: 12px; color: #6f6f6f }

/* INPUTS */
.gsForm .gsform-general-appearance { line-height: 40px; height: 40px; font-size: 14px; background-color: #FFF; outline: none; outline-style: none; margin: 0px;}
.gsForm .gsform-general-appearance-textarea { height: auto }
.gsForm select:-moz-focusring.gsform-general-appearance  {color: transparent; text-shadow: 0 0 0 #000;}
.gsForm .gsform-field-container input,
.gsForm .gsform-field-container textarea,
.gsForm .gsform-field-container select,
.gsForm .gsform-field-container .gsform-file-placeholder,
.gsForm .gsform-field-container .gsform-combobox-placeholder { box-sizing: border-box; padding: 0px 8px; border-width: 1px 0px 1px 1px; border-style: solid; border-color: #CCC;  border-radius: 5px 0px 0px 5px; margin: 0px; width: 100%; }
.gsForm .gsform-field-container textarea { line-height: 20px; padding-top: 6px; padding-bottom: 6px; display: block; }
.gsForm .gsform-field-container input{  }
.gsForm .gsform-field-container select { -moz-appearance: none; -webkit-appearance: none; text-indent: 0.01px; text-overflow: ''; }
.gsForm .gsform-field-container-select:before{ content: ""; position: absolute; right: 69px; top: 28px; width: 5px; height: 10px; pointer-events: none; border: 5px solid #FFF; border-top: 5px solid #000; box-sizing: border-box; }

.gsForm .gsform-field-container .gsform-file-placeholder { display: inline-block; background-color: #888; border-color: #888; color: #FFF; cursor: pointer }

/* COMBOBOX */
.gsForm .gsform-field-container .gsform-combobox-placeholder { display: inline-block; cursor: pointer; position: relative; }
.gsForm .gsform-field-container .gsform-combobox-placeholder:before{ content: ""; position: absolute; right: 14px; top: 18px; width: 5px; height: 10px; pointer-events: none; border: 5px solid #FFF; border-top: 5px solid #000; box-sizing: border-box; }
.gsForm .gsform-field-container.gsform-combobox-open .gsform-combobox-placeholder:before{ content: ""; position: absolute; right: 14px; top: 13px; width: 5px; height: 10px; pointer-events: none; border: 5px solid #FFF; border-bottom: 5px solid #000; box-sizing: border-box; }
.gsForm .gsform-field-container.gsform-combobox-open .gsform-combobox { display: block; }
.gsForm .gsform-field-container.gsform-combobox-open .gsform-combobox-placeholder { border-width: 1px 0px 0px 1px; border-radius: 5px 0px 0px 0px; }
.gsForm .gsform-combobox { position: absolute; z-index: 2; background-color: #DDD; top: 50px; left: 20px; right: 55px; display: none; padding: 10px; border-width: 0px 1px 1px 1px; border-radius: 0px 0px 5px 5px; border-color: #CCC; border-style: solid; }
.gsForm .gsform-combobox input { height: 40px; border-width: 1px; border-radius: 5px; }
.gsForm .gsform-combobox ul { list-style: none; margin: 10px 0px 0px; padding: 0px; max-height: 150px; overflow: auto; }
.gsForm .gsform-combobox ul li.row{ cursor: pointer; height: 30px; line-height: 30px; }
.gsForm .gsform-combobox ul li.no-result{ height: 30px; line-height: 30px; color: #999; }
.gsForm .gsform-combobox ul li.row:hover, .gsForm .gsform-combobox ul li.row.selected{ background-color: #CCC; }

/* ERROR */
.gsForm .gsform-field-container p.gsform-error-message { background-color: #790102; border-color: #790102; color: #FFF; border-radius: 0px 0px 0px 5px; padding: 0px 8px; display: none; }
.gsForm .gsform-field-container.gsform-error-message p.gsform-error-message { display: block; line-height: 24px; padding: 8px; height: auto; }
.gsForm .gsform-field-container.gsform-error-message input, .gsForm .gsform-field-container.gsform-error-message textarea, .gsForm .gsform-field-container.gsform-error-message select { border-bottom-left-radius: 0px; }
/*.gsForm .gsform-field-container.gsform-error-message span.gsform-status { border-bottom-right-radius: 5px }*/

/* WARNING */
.gsForm .gsform-field-container p.gsform-warning-message { background-color: #F14400; border-color: #F14400; color: #FFF; border-radius: 0px 0px 0px 5px; padding: 0px 8px; display: none; }
.gsForm .gsform-field-container.gsform-warning-message p.gsform-warning-message { display: block; }
.gsForm .gsform-field-container.gsform-warning-message input, .gsForm .gsform-field-container.gsform-warning-message textarea, .gsForm .gsform-field-container.gsform-warning-message select { border-bottom-left-radius: 0px; }
/*.gsForm .gsform-field-container.gsform-warning-message span.gsform-status { border-bottom-right-radius: 0px }*/

/* STATUS */
.gsForm .gsform-field-container span.gsform-status { box-sizing: border-box; border-radius: 0px 5px 5px 0px; background-color: #CCC; float: right; border-width: 1px 1px 1px 0px; border-style: solid; border-color: #CCC; background-position: center center; background-repeat: no-repeat; background-size: 50%; position: absolute; top: 10px; bottom: 10px; right: 20px; width: 36px; height: auto; }
.gsForm .gsform-container-with-label span.gsform-status { top: 34px; }
.gsForm .gsform-field-container span.gsform-status-required-default { background-image: url("required.png") }
.gsForm .gsform-field-container span.gsform-status-required { background-color: #F14400; border-color: #F14400; }
.gsForm .gsform-field-container span.gsform-status-warning { background-color: #F14400; border-color: #F14400; }
.gsForm .gsform-field-container span.gsform-status-error { background-color: #790102; border-color: #790102; background-image: url("error.png") }
.gsForm .gsform-field-container span.gsform-status-success { background-color: #41CC65; border-color: #41CC65;  background-image: url("success.png") }
.gsForm .gsform-field-container span.gsform-status-loading { background-color: #0099FF; border-color: #0099FF;  background-image: url("loading.gif") }

.gsForm .gsform-field-container.gsform-combobox-container span.gsform-status { bottom: auto; height: 40px; }

/* FOCUS */
.gsForm .gsform-field-container.focus input,
.gsForm .gsform-field-container.focus textarea,
.gsForm .gsform-field-container.focus select,
.gsForm .gsform-field-container.focus span.gsform-status-required-default,
.gsForm .gsform-field-container.focus span.gsform-status { box-shadow: 0px 0px 5px #BBB; }
.gsForm .gsform-field-container.focus span.gsform-status-required,
.gsForm .gsform-field-container.focus span.gsform-status-warning { box-shadow: 0px 0px 5px #F14400; }
.gsForm .gsform-field-container.focus span.gsform-status-success { box-shadow: 0px 0px 5px #41CC65; }
.gsForm .gsform-field-container.focus span.gsform-status-loading { box-shadow: 0px 0px 5px #0099FF; }
.gsForm .gsform-field-container.focus span.gsform-status-error { box-shadow: 0px 0px 5px #790102; }
.gsForm .gsform-field-container.focus.gsform-error-message input,
.gsForm .gsform-field-container.focus.gsform-error-message textarea,
.gsForm .gsform-field-container.focus.gsform-error-message select { }
.gsForm .gsform-field-container.focus .gsform-error-message { box-shadow: 0px 0px 5px #790102; }
.gsForm .gsform-field-container.focus .gsform-warning-message { box-shadow: 0px 0px 5px #F14400; }

