html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word
}


html, body { font-family: 'Open Sans', sans-serif; }
code { font-family: monospace; display: block; border: 1px solid #CCC; background-color: #EEE; padding: 30px 30px; margin: 10px; border-radius: 5px; }
code span.comment { color: #777 }
main { width: 1000px; margin: 0px auto 30px auto; background-color: #FFF; box-shadow: 1px 3px 3px #777; }

.list-title { padding: 20px 10px; font-size: 18px; }
.list-title small { float: right; font-size: 14px; color: #777 }
.list-content { padding: 20px 10px; border-bottom: 1px solid #CCC }

h1 { font-size: 24px; padding: 10px 20px; border-bottom: 1px solid #DFDFDF; }
h1 small { display: block; font-size: 16px; color: #777; }

h2 { font-size: 20px; padding-bottom: 10px; border-bottom: 1px solid #DFDFDF; }

section { padding: 30px; }